@package_name com.koramgame.ios.fysgtw, com.koramgame.android.fysgtw
@upgrade_url http://gii.doopp.com/upgrade/v1.1/, http://gii.doopp.com/upgrade/v1.2/, http://gii.doopp.com/upgrade/v1.3/
@version 1.11

welcome.lua bcbbd059da0ba5cac9c80c8d69a25023
scenes/main.lua bcbbd059da0ba5cac9c80c8d69a25023
scenes/main4.lua 1cbbd059da0ba5cac9c80c8d69a25023
scenes/main5.lua 2cbbd059da0ba5cac9c80c8d69a25023
scenes/main6.lua 3cbbd059da0ba5cac9c80c8d69a25023
scenes/main7.lua 3cbbd059da0ba5cac9c80c8d69a25023