@package_name com.koramgame.ios.fysgtw, com.koramgame.android.fysgtw
@update_source http://static1.kunlun.com/test-game1/com.koramgame.ios.fysgtw/1.1.2, http://static1.kunlun.com/test-game1/com.koramgame.android.fysgtw/1.1.2
@version 1.1.2

framework_precompiled.zip 35a6d9ec8a4d30092f95e04fb55af95b 101470
image/penguins.jpg 9d377b10ce778c4938b3c7e2c63a229a 777835
WelcomeScene.lua 2696f9b72807a6223ee4c9152dd7fbd6 1150