@package_name com.koramgame.ios.fysgtw, com.koramgame.android.fysgtw
@upgrade_url http://cdn.shell.doopp.com/com.koramgame.ios.fysgtw/, http://cdn.shell.doopp.com/com.koramgame.ios.fysgtw/
@version 1.11

WelcomeScene.lua bcbbd059da0ba5cac9c80c8d69a25023
welcome_bg.jpg bcbbd059da0ba5cac9c80c8d69a25023